<table class="attr">
	<tr>
		<th><%= form.label :position, "表示場所" %></th>
		<td><%= form.text_field :position, size: 20 %></td>
	</tr>
	<tr>
		<th><%= form.label :title, "タイトル" %></th>
		<td><%= form.text_field :title, size: 60 %></td>
	</tr>
	<tr>
		<th><%= form.label :content, "文章" %></th>
		<td><%= form.text_area :content, cols: 60, rows: 20 %></td>
	</tr>	
</table>